{% extends 'base.html' %}

{%block content%}

<h2>URL Parameters</h2>
    <pre>{{ request.args }}</pre>
    
    <h2>Headers</h2>
    <pre>{{ request.headers }}</pre>
    
    <h2>Cookies</h2>
    <pre>{{ request.cookies }}</pre>
    
    <h2>Form Data</h2>
    <pre>{{ request.form }}</pre>

<div class="container">
    <div class="row">
        <div class="col-4">

        </div>

        <div class="col-4">
            <h2>Введите номер телефона</h2>

    <form method="post">
        <div class="mb-3">
            <input type="text" name="phone" class="form-control {% if error %}is-invalid{% endif %}" 
                   placeholder="Введите номер" value="{{ phone }}">
            {% if error %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Проверить</button>
    </form>

    {% if formatted_phone %}
        <div class="alert alert-success mt-3">
            Отформатированный номер: <strong>{{ formatted_phone }}</strong>
        </div>
    {% endif %}

        </div>
    </div>
</div>

{% endblock %}